<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-type" content="text/html;charset=utf-8" />
    <title> Booking Page </title>
    <link type="text/css" rel="stylesheet" href="/static/styles/bookstyle.css">
</head>
<body>
    <header>
        <div id="headerText">
            <a id="homeLink" href="/">Magical Hotel!</a>
        </div>
    </header>
    <div id="bookingDivWrapper">
        <div id="bookingPage">
            <h2> Booking Page </h2>
            <p> Please enter your details.</p>
            <form action="addbook" method="post">
                <br>
                <input type="text" name="name" placeholder="Full name" maxlength="50"> <br>
                <input type="email" name="email" placeholder="E-mail" required maxlength="50"> <br>
                <input type="date" name="book" max="2020-01-01" min="2018-01-01"> <br>
                <input type="date" name="book2" max="2020-01-01" min="2018-01-01"> <br>
                <input type="submit" value="Submit">
            </form>
            <p id="failMessage">{{failMessage}}</p>
            <p id="costMessage">{{costMessage}}</p>
            <h2>Previous bookings</h2>
            <table>
                {%for line in dateBookList %}
                <tr>
                    {%for item in line%}
                    <td>
                        {{item}}
                    </td>
                    {%endfor%}
                </tr>
                {%endfor%}
            </table>
        </div>
    </div>
</body>
</html>